:root {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.product-configurator {
    display: flex;
    gap: 2rem;
    margin: 2rem;

    .image,
    .user-input {
        flex: 1;
    }

    .image {
        border: 1px solid #ddd;
        padding: 1rem;
        max-width: 300px;
    }

    .image img {
        max-width: 100%;
        display: block;
        margin-top: 0.5rem;
    }

    label,
    input {
        display: block;
    }

    label {
        font-size: 0.9rem;
    }

    input {
        margin-bottom: 1rem;
    }

    .btn {
        margin: 2rem 0;
        display: block;
    }
}
